Content-Type: multipart/mixed; boundary="===============8815267485200512281=="
MIME-Version: 1.0

--===============8815267485200512281==
Content-Type: text/cloud-config; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: attachment; filename="cloud-config"


#cloud-config

chpasswd:
  expire: false
  list:
  - root:root
  - {{ admin_username }}:{{ admin_password }}
write_files:
- path: /etc/default/personality
  content: "vsmart\n"
- path: /etc/default/inited
  content: "1\n"
- path: /etc/confd/init/zcloud.xml
  content: |
    <config xmlns="http://tail-f.com/ns/config/1.0">
      <system xmlns="http://viptela.com/system">
        <host-name>{{ hostname }}</host-name>
        <personality>vsmart</personality>
        <device-model>vsmart</device-model>
        <system-ip>{{ system_ip }}</system-ip>
        <organization-name>{{ organization_name }}</organization-name>
        <sp-organization-name>{{ organization_name }}</sp-organization-name>
        <site-id>{{ site_id }}</site-id>
        <vbond>
          <remote>{{ vbond_transport_public_ip | default(default_vbond_ip) }}</remote>
        </vbond>
        <aaa>
          <user>
            <name>{{ admin_username }}</name>
            <password>{{ admin_password }}</password>
          </user>
        </aaa>
      </system>
      <vpn xmlns="http://viptela.com/vpn">
        <vpn-instance>
          <vpn-id>0</vpn-id>
            <interface>
              <if-name>eth1</if-name>
              <ip>
                <dhcp-client>true</dhcp-client>
              </ip>
              <tunnel-interface>
                <encapsulation>
                  <encap>ipsec</encap>
                </encapsulation>
                <color>
                  <value>default</value>
                </color>
                <allow-service>
                  <sshd>true</sshd>
                  <netconf>true</netconf>
                </allow-service>
              </tunnel-interface>
              <shutdown>false</shutdown>
            </interface>
{% if cloud_provider == 'azure' %}
          <ip>
            <route>
              <prefix>0.0.0.0/0</prefix>
              <next-hop>
                <address>{{ vpn0_default_gateway }}</address>
              </next-hop>
            </route>
          </ip>
{% endif %}
        </vpn-instance>
        <vpn-instance>
          <vpn-id>512</vpn-id>
          <interface>
            <if-name>eth0</if-name>
            <ip>
              <dhcp-client>true</dhcp-client>
            </ip>
            <shutdown>false</shutdown>
          </interface>
        </vpn-instance>
      </vpn>
    </config>
--===============8815267485200512281==
